<div class="row">
  <div class="col-md-12">
    <div class="col-sm-6">
      <div class="card border-0 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Angular Developer</h5>
          <p class="card-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam deleniti nobis eius totam, enim amet dolor maiores vitae sunt tempore quae quis odio, fugiat saepe cupiditate ea, mollitia optio perferendis
          </p>

          <div class="d-flex">
            <span class="text-muted">Job Type:</span><span class="text-muted px-2">Full Time</span>
          </div>
          <a href="#" class="btn btn-primary mt-3">Apply Now</a>
        </div>
      </div>
    </div>

  </div>
</div>
